@model List<Asset>

@{
    ViewBag.Title = "All Assets";
}

@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-12 d-flex justify-content-between">
                    <h1>All Assets</h1>
                    <a asp-action="Manage" class="btn btn-primary" style="margin-left: 10px">Manage Assets</a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            Assets List
                            @* <form action="Export"> *@
                            @*     <input class="btn btn-success" type="submit" value="Export"/> *@
                            @* </form> *@
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            @if (Model.Any())
                            {
                                <table id="example1" class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>Type</th>
                                        <th>Market</th>
                                        <th>Purchased Date</th>
                                        <th>Stock</th>
                                        <th>Sales Segment</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var asset in Model)
                                    {
                                        <tr>
                                            @* looping through the properties of the Asset class *@
                                            <td>@asset.Name</td>
                                            <td>@asset.Code</td>
                                            <td>@asset.Type</td>
                                            <td>@asset.Market</td>
                                            <td>@asset.PurchaseDate.ToString("dd/MM/yyyy")</td>
                                            <td>@asset.Stock</td>
                                            <td>@asset.SalesSegment</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="card">
                                    <div class="card-header">
                                        No assets found in the database
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <a class="btn btn-primary" style="margin: 25px" asp-action="Manage">Manage Assets</a>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <!-- /.card-body -->
                    </div>

                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            Container Vehicle Mapping
                            @* <form action="Export"> *@
                            @*     <input class="btn btn-success" type="submit" value="Export"/> *@
                            @* </form> *@
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            @if (ViewBag.vehicleContainerMappings.Count > 0)
                            {
                                <table id="example2" class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Container Code</th>
                                        <th>Container Name</th>
                                        <th>Vehicle Code</th>
                                        <th>Vehicle Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (ContainerVehicleMapping mapping in ViewBag.vehicleContainerMappings)
                                    {
                                        <tr>
                                            <td>@mapping.ContainerAsset.Code</td>
                                            <td>@mapping.ContainerAsset.Name</td>
                                            <td>@mapping.VehicleAsset.Code</td>
                                            <td>@mapping.VehicleAsset.Name</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="card">
                                    <div class="card-header">
                                        No mappings found in the database
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>

            </div>
        </div>


    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts
{
    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script >
        $("#example1").DataTable({
          "responsive": true,
          "autoWidth": false,
        });
        $("#example2").DataTable({
                  "responsive": true,
                  "autoWidth": false,
         });
    </script>
}