@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CarImagesWeb.ViewModels.ImageUploadViewModel
@{
    ViewData["Title"] = "Upload Images";
}
<form method="post" asp-action="Index" asp-controller="Home" id="upload-form" enctype="multipart/form-data">
    <div class="container py-5" id="uppy">
        <div class="row">
            <div class="col-lg-6 col-12">
                <!-- Bind form fields to properties in the view model -->
                <div class="form-group">
                    <div for="ImageCategory">Select Image Category</div>
                    <label class="btn btn-primary" for="Vehicles">
                        <input type="radio" id="Vehicles" name="ImageCategory" value="Vehicles" hidden>
                        Vehicles
                    </label>
                    <label class="form-check btn btn-secondary" for="Containers">
                        <input type="radio" id="Containers" name="ImageCategory" value="Containers" hidden>
                        Containers
                    </label>
                </div>
                
                <div id="vehicle-inputs">
                    <!-- Show the dropdown only if Vehicles radio button is selected -->
                    <div class="form-group" id="VehicleTypeDropdown">
                        <label for="VehicleType">Vehicle Type</label>
                        <select asp-for="VehicleType" id="VehicleType" class="form-control" name="VehicleType">
                            <option value="">-- Select Vehicle Type --</option>
                            <!-- Bind options to the list of vehicle types in the view model -->
                            @foreach (var vehicleType in Model.VehicleTypes)
                            {
                                <option value="@vehicleType">@vehicleType</option>
                            }
                        </select>
                    </div>

                    <!-- Show the input box for Vehicle Number only if a Vehicle Type is selected -->
                    <div class="form-group" id="VehicleNumberGroup">
                        <label for="VehicleNumber">Vehicle Number</label>
                        <input type="text" id="VehicleNumber" class="form-control" name="VehicleNumber" value="@Model.VehicleNumber">
                    </div>

                    <!-- Show the input box for Chassis Number only if a Vehicle Type is selected -->
                    <div class="form-group" id="ChassisNumberGroup">
                        <label for="ChassisNumber">Chassis Number</label>
                        <input type="text" id="ChassisNumber" class="form-control" name="ChassisNumber" value="@Model.ChassisNumber">
                    </div>
                </div>
                <div id="container-inputs">
                    <!-- Show the input box for Container ID only if Containers radio button is selected -->
                    <div class="form-group" id="ContainerIdGroup">
                        <label for="ContainerId">Container ID</label>
                        <input type="text" id="ContainerId" class="form-control" name="ContainerID" value="@Model.ContainerId">
                    </div>
                </div>


                <div class="form-group" id="TagDropdown">
                    <label for="Tag">Select Tag</label>
                    <select asp-for="Tag" id="Tag" class="form-control" name="Tag">
                        <option value="">-- Select Tag --</option>
                        <!-- Bind options to the list of vehicle types in the view model -->
                        @foreach (var tag in Model.Tags)
                        {
                            <option value="@tag">@tag</option>
                        }
                    </select>
                </div>
            </div>
            <input type="file" name="files[]" multiple hidden>
            <div class="col-lg-6 col-12">
                <div class="form-group" id="uppyDashboard"></div>
            </div>
        </div>
    </div>

</form>